---

---

<form action="" class="connection-form">
    <div class="input-group">
        <span class="input-group-text">LensQL Username</span>
        <input type="text" class="form-control" id="username" placeholder="sXXXXXXX" required />
        <div class="invalid-feedback hidden" id="username-error-invalid">Invalid username</div>
    </div>
    <button type="submit" class="btn btn-primary mt-3" id="connect-lensql">Connect to LensQL</button>
    <div id="connection-lensql-status"></div>
</form>

<script>
    $('#connect-lensql').on('click', function(event) {
        event.preventDefault();
        connect_to_lensql_server();
    });

    function connect_to_lensql_server() {
        const username = $('#username').val();

        $.ajax({
            url: 'https://ponzidav.com/lensql/login',
            type: 'POST',
            // contentType: 'application/json',
            contentType: 'application/x-www-form-urlencoded',
            data: { username: username },
            // data: JSON.stringify({ username: username }),
            success: function(response) {
                response = JSON.parse(response);
                if (response.status == 'error')
                    $('#connection-lensql-status').text('Connection to LensQL server failed');
                else
                    $('#connection-lensql-status').text('Connected to LensQL server');
            },
            error: function(response) {
                $('#connection-lensql-status').text('Connection to LensQL server failed');
            }
        });
    }

    function set_input_validity(input: any, valid: boolean) {
        if (valid) {
            input.removeClass('is-invalid');
            input.addClass('is-valid');
        } else {
            input.removeClass('is-valid');
            input.addClass('is-invalid');
        }
    }


    function set_error_message(message_id: string, valid: boolean) {
        let message = $(`#${message_id}`);

        if (valid)
            message.addClass('hidden');
        else
            message.removeClass('hidden');

        return valid;
    }
</script>

<style>
    .input-group-text {
        min-width: 170px;
        justify-content: right;
    }

/*
    .input-group .form-control,
    .input-group-text {
        border-radius: 0;
    }

    .input-group:first-of-type .form-control:first-child,
    .input-group:first-of-type .input-group-text:first-child {
        border-top-left-radius: 0.375rem;
    }
    .input-group:first-of-type .form-control:last-child,
    .input-group:first-of-type .input-group-text:last-child {
        border-top-right-radius: 0.375rem;
    }

    .input-group:last-of-type .form-control:first-child,
    .input-group:last-of-type .input-group-text:first-child {
        border-bottom-left-radius: 0.375rem;
    }
    .input-group:last-of-type .form-control:last-child,
    .input-group:last-of-type .input-group-text:last-child {
        border-bottom-right-radius: 0.375rem;
    }
*/
</style>
