---
import FooterSocial from "./footer/FooterSocial.astro";



---

<div class="footer">
    <div class="container-fluid">
        <div class="center monospace">
            Developed by Davide Ponzini.
        </div>

        <div class="center">
            <FooterSocial></FooterSocial>
        </div>
    </div>
</div>

<style>
    .footer {
		width: 100%;
		background-color: var(--bg-color);
		padding: 12px;
		position: sticky;
		z-index: 51;
	}

	.footer a {
		color: #777;
	}

	.footer a:hover {
		color: black;
	}

	.footer > .container {
		display: block;
	}
</style>
