---
import Background from '../components/Background.astro';
import Section from '../components/Section.astro';
import Page from '../layouts/Page.astro';
import ConnectionLensQL from '../components/ConnectionLensQL.astro';
import ConnectionDB from '../components/ConnectionDB.astro';
import Query from '../components/Query.astro';
---

<Page title="LensQL">
    <Background>
        <Section title="LensQL">
            <div class="row">
                <div class="col">
                    <ConnectionLensQL/>
                </div>
                <div class="col">
                    <ConnectionDB/>
                </div>
            </div>
        </Section>

        <Section title="Query">
            <Query/>
        </Section>
    </Background>
</Page>

<script is:inline src="scripts/messages.js"></script>
<script is:inline src="scripts/display.js"></script>
