---
import Page from "../layouts/Page.astro";
import Background from "../components/Background.astro";
import Section from "../components/Section.astro";


---

<Page title="LensQL">
    <Background>
        <Section title="Installation">
            <ol>
                <li>Install <a href="">Docker</a></li>
            </ol>
        </Section>
        <Section title="Usage">
            <ol>
                <li>Run the following command in the terminal:</li>
                <pre><code>curl https://ponzidav.com/lensql | docker compose -f - up</code></pre>
                <li>Open your browser and go to <a href="https://ponzidav.com/lensql2">https://ponzidav.com/lensql2</a></li>
            </ol>
    </Background>
</Page>